
#tab-list-layout{
	background-color: #fff;
}
#tab-content-layout{
	height: 100%;
	overflow: hidden;
}
#bg-img-layout{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#album-img{
	display: none;
	height: 100%;
}
#album-img-blur{
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -9;
}
.color-shadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}
.color-shadow-up{
	opacity: 0.4;
	z-index: -1;
}
.color-shadow-down{
	opacity: 0.9;
	z-index: -5;
}
#visualizer{
	position: absolute;
	left: 0;
	top: 2px;
	z-index: -2;
}