#list-layout{
	overflow: hidden;
}
#tab-list-layout{
	width: 100%;
}
#tab-content-layout{
	height: 85%;
	overflow: auto;
}
#bg-img-layout,.color-shadow{
	display: none;
}
#menu-layout{
	height: 15%;
}
#mobile-tablist{
	padding: 0;
	width: 100%;
	background-color: transparent;
}
.charm-closer{
	display: none;
}
.tabs-split{
	height: 100%;
}
#lrc-content{
	webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
